<h2>Say stuff!</h2>
<div id="messages">
  <ul>
    <% @messages.each do |id, message| %>
      <li>
        <%= message[:id] %>:
          <%= message[:text] %>
      </li>
    <% end %>
  </ul>
</div>

<div id="message-form">
  <form>
    <label>What do you want to say? </label>
    <textarea id="message"></textarea>
    <div id="save-cancel">
      <a href="#">cancel</a>
      <input type="submit" value="Say it!">
    </div>
  </form>
</div>
