<h2>Say stuff!</h2>
<div id="message-list">
  <ul>
    <% @messages.each do |id, message| %>
      <li>
        <%= message[:id] %>:
        <%= message[:message] %>
      </li>
    <% end %>
  </ul>
</div>

<div id="add-message">
  <form id="message-form">
    <label>What do you want to say? </label>
    <textarea id="message"></textarea>
    <div id="save-cancel">
      <a href="#" id="cancel">cancel</a>
      <input id="sayit" type="submit" value="Say it!">
    </div>
  </form>
</div>
