<!DOCTYPE html>
<html>
  <head>
    <script src="javascript/jquery.js"></script>
    <script src="javascript/underscore.js"></script>
    <script src="javascript/backbone.js"></script>
    <script src="javascript/example.js"></script>

    <link rel="stylesheet" type="text/css" href="css/example.css" />

    <title>A Backbone Chat Example</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>A Backbone Chat Example</h1>
      </header>
      <article id="main">
        <%= yield %>
      </article>
      <footer>
        Copyright 2011 <a href="http://mutedsolutions.com">Muted Solutions, LLC.</a> All Rights Reserved.
      </footer>
    </div>
  </body>
</html>
