<h2>Say stuff!</h2>
<div id="message-list">
  <ul></ul>
</div>

<div id="content_area"></div>

<script id="add-message-template" type="text/x-jquery-tmpl">
  <form id="message-form">
    <label>What do you want to say? </label>
    <textarea id="message"></textarea>
    <div id="save-cancel">
      <a href="#" id="cancel">cancel</a>
      <input id="sayit" type="submit" value="Say it!">
    </div>
  </form>
</script>
